h1{
    color:red;
}

.test{
    border: 30px black solid;
    width: 400px;
    height: 300px;

}

.hide{
    display:none;
}

body{
    display: flex;
    flex-direction: column;
}

#timer {
    display: flex;

}