h1{
    color:red;
}

.test{
    
    width: 400px;
    height: 300px;

}

.hide{
    display:none;
}

body{
    display: flex;
    flex-direction: column;
}

#timer {
    display: flex;
    flex-direction: row;

}

.choices-container{
    border:solid black 10px;
    margin: 10px;
}

button {
    transition: .5;
    background-color: white;
    box-shadow: 0 0 3;
}

button:hover{
    background-color: aqua;
}

